/* Header */
#wrap div.headerbar {
	padding: 0;
}
/* Posts */

/* End CSS for print media */
body {
	background:#000000 url(../imgs/newBack.jpg) no-repeat center top;
	padding:0;
}
#flameBG1, #flameBG2 {
	position:absolute;
	top:0;
	z-index:-3;
	height:300px;
	width:100%;
}
#flameBG1 {
	background:url(/imgs/newBack_flames2A.png) no-repeat center top;
}
#flameBG2 {
	background:none;
}
#wrap {
	padding: 0;
	background:none;
	width: 960px;
	min-height:1200px;
}
#page-body {
	background:#000;
	width: 940px;
	padding: 10px;
}
#logo {
	padding: 0;
}
#logo-desc p {
	display:none;
}
/* Tags------------------------------------*/
h3, .h3 {
	color:#12BBF3;
	border-bottom-color:#12BBF3;
}
textarea {
	resize:none;
}
blockquote {
	border:none;
	margin: 10px 0;
	padding: 5px 5px 5px 10px;
	background: #272727 url("http://i48.servimg.com/u/f48/17/38/25/48/quote_11.png") 3px 3px no-repeat;
	font-size: 0.95em;
	overflow: hidden;
}
td {
	padding:5px;
}
p.path {
	clear: left;
	margin: 10px 0;
}
/* Links------------------------------------*/
/* Input------------------------------------*/
select {
}
select:focus {
	outline:none;
}
.inputbox {
	border: 1px solid #333333;
	background:#000000;
	box-shadow:#333 0 -7px 20px -3px inset;
	box-sizing:content-box;
}
.inputbox:hover {
	border-color:#666;
}
.inputbox:focus, .button1:focus, .button2:focus, select:focus {
	outline:none;
	box-shadow:#06C 0 6px 20px -5px inset;
	border-color:#06C;
}
/* Input Button Form------------------------------------*/
input.button1, button.button1 {
	font-size:13px;
	padding:5px 10px;
	border-radius:4px;
	box-shadow:#222 0 -6px 10px -3px inset;
	border:none;
	background:#444;
	color:#FFFFFF;
	letter-spacing:0px;
	text-transform:uppercase;
}
input.button1:hover, button.button1:hover, select:hover {
	border:none;
	color:#FFFFFF;
	background-color:#666;
}
input.button2, button.button2, select, input[type=submit].mainoption {
	box-sizing:border-box;
	font-size:10px;
	padding:3px 5px;
	border-radius:4px;
	box-shadow:#222 0 -6px 10px -3px inset;
	color:#CCCCCC;
	background:#333;
	border:none;
}
select {
	padding:2px 4px 2px 4px;
}
input.button2:hover, button.button2:hover, input[type=submit].mainoption:hover {
	border:none;
	color:#0099CC;
}
#format-buttons button.button2, #format-buttons input.button2 {
	display:inline-block;
	border-radius:0;
	background:#FFF;
	width:20px !important;
	height:20px;
	padding:0 2px;
	opacity:0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;
	color:#000;
}
#format-buttons input.button2, #format-buttons #comefrom, #format-buttons #followin {
	width:auto !important;
}
#format-buttons button.button2 span, #format-buttons input.button2 span {
	display:block;
	height:12px;
	padding:4px 0;
	float:right;
}
#format-buttons button.button2:hover, #format-buttons input.button2:hover {
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
}
/* Fieldset dl------------------------------------*/
fieldset dl:hover dt label {
	color:inherit;
}
/* Fieldset fields 1 et 2------------------------------------*/
/* Fieldset submit------------------------------------*/
fieldset.submit-buttons input {
	margin:0 4px;
}
/* Fieldset polls------------------------------------*/
/* Header------------------------------------*/
/* Menu------------------------------------*/
.navbar {
	background-color:transparent;
}
input.search {
}
#search-box #search #keywords {
}
#search-box #keywords:focus {
}
#search-box input[type=submit] {
}
/* Code block------------------------------------*/
dl.codebox {
	padding: 3px;
	background-color: #222222;
	border: none;
	font-size: 1em;
}
dl.codebox dt {
	border-bottom:none;
	color:#FF0000;
}
dl.codebox dt {
	border-bottom:none;
}
/* Table------------------------------------*/
.forabg, .forumbg {
	margin-bottom: 20px;
	border:none;
}
ul.topiclist {
	background: #1D1F2B;
	border-radius: 5px;
}
li.header dl.icon dt {
	padding-left: 4px;
}
li.row {
	border-top: none;
	border-bottom: #252835 1px solid;
}
li.row {
	background: #000000;
	background-repeat:no-repeat;
	background-position:right 0px;
}
li.row:hover {
	background-position:right -100px !important;
}
ul.topiclist dd {
	border: none;
}
/* Panel------------------------------------*/
.panel-left {
	float: left;
	width: 90%;
}
.panel div.postbody p.author {
	display:block !important;
}
/* Post------------------------------------*/
#wrap div.postbody p.author {
	display:none;
}
#wrap div.postbody h2.topic-title {
	font-size:18px;
}
#wrap div.postbody h2.topic-title img {
	display:none;
}
/* dl dt dd------------------------------------*/
/* Cp-main------------------------------------*/
/* Panel------------------------------------*/
/* Table------------------------------------*/
/* Table------------------------------------*/
/* FAQ------------------------------------*/
/* Tabs------------------------------------*/
/* Smilies------------------------------------*/
/* Page numbering------------------------------------*/
/* Postbody (preview)------------------------------------*/
.postbody p.author {
	display:none;
}
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
	margin-right: 45px;
	opacity:0;
	filter:Alpha(opacity=0);
}
.post:hover ul.profile-icons {
	opacity:1;
	filter:Alpha(opacity=100);
}
.postbody ul.profile-icons img {
	cursor: pointer;
}
.postbody ul.profile-icons li {
	margin: 0 3px;
	opacity:0.3;
	filter:Alpha(opacity=30);
}
.postbody ul.profile-icons li:hover {
	opacity:1;
	filter:Alpha(opacity=100);
}
/* Profile icons------------------------------------*/
/* Advanced profile------------------------------------*/
#profile-advanced-layout ol {
	background: #222;
}
#profile-advanced-details ol>li {
	display: block;
	margin-bottom: 4px;
	padding: 10px;
}
#profile-advanced-layout ol .message-text {
	font-family:Verdana;
}
#profile-advanced-with-tutorial {
	padding:20px;
	box-shadow:#06C 0px 1px 20px -2px inset;
}
#profile-advanced-with-tutorial iframe {
	border:none;
	float:right;
	width:200px;
	height:270px;
}
#profile-advanced-with-tutorial .explanation {
	float:right;
	width:300px;
}
#profile-advanced-with-tutorial dl {
	width:300px;
	clear:none;
}
#profile-advanced-with-tutorial dl::after {
	clear:none;
}
#profile-advanced-with-tutorial dt {
	width:60%;
}
/* Message-box------------------------------------*/
/* Message-box OLD/NEW Editor------------------------------------*/
#text_editor_cmd_switchmode {
	display:none;
}
/* Modules------------------------------------*/
/* Overview------------------------------------*/
/* Calendar------------------------------------*/
/* Signature------------------------------------*/
.signature_div {
	max-height:140px;
	text-align:center;
	padding:20px 0 0 0;
	margin:0 0 20px 0;
	opacity:0.5;
	filter:Alpha(opacity=50);
	overflow:hidden;
}
.signature_div:hover {
	opacity:1;
	filter:Alpha(opacity=100);
}
.signature_div br {
	display:none;
}
.signature_div img {
	display:inline;
}
/* Gallery------------------------------------*/
/* Buttons------------------------------------*/
.buttons a img {
	border:1px solid #000000;
}
.buttons a:hover img {
	border:1px solid #0b416d;
}
/* Topicreview------------------------------------*/
/* Chatbox------------------------------------*/
/* Stats------------------------------------*/
/* Corners------------------------------------*/
/* Various------------------------------------*/
.column1 {
	width:100%;
	border:none;
}
/* Footer------------------------------------*/
/* Login Popup------------------------------------*/
/* ajax profil------------------------------------*/
/* jqModal------------------------------------*/
/* First Post------------------------------------*/
/* Blog------------------------------------*/
/* Social Bookmarking------------------------------------*/
#bookmarks {
	display: none;
}
/* Special categories------------------------------------*/
.category-announce {
	background: #1D1F2B;
	border-radius: 5px;
}
.category-announce li.row {
	border:none;
}
.category-announce .topiclist {
	display:none;
}
.category-announce .topiclist.forums {
	display:block;
}
.category-announce dl.icon {
	background:url(http://i48.servimg.com/u/f48/17/38/25/48/subfor10.jpg) no-repeat scroll 10px 50% !important;
}
.category-announce dd.dterm {
	width:100% !important;
}
.category-announce .topics, .category-announce .posts, .category-announce .lastpost {
	display:none;
}
.category-announce .dterm h2 {
	font-size:16px !important;
}
.category-hidden {
	display:none;
}
/* Special Blockquotes */
blockquote.good {
	background: #272727 url("http://i48.servimg.com/u/f48/17/38/25/48/quote_13.png") 3px 3px no-repeat;
}
blockquote.bad {
	background: #272727 url("http://i48.servimg.com/u/f48/17/38/25/48/quote_12.png") 3px 3px no-repeat;
}
/* Signatures ------------------------------------*/



/* Special gif------------------------------------*/
#flamegif {
	display:none;
	background:url("http://i48.servimg.com/u/f48/17/38/25/48/flame_11.png") no-repeat;
	background-position:0px 0px;
	position:fixed;
	width:30px;
	height:70px;
}
/* Clock------------------------------------*/
#clock {
	float:right;
	clear:right;
	margin:-55px 0 0 0;
	height:30px;
	width:145px;
	padding:25px 0 0 0;
	text-align:right;
	font-family:Calibri;
	background:url("http://i48.servimg.com/u/f48/17/38/25/48/gears_10.png");
}
#clock #clock_weather {
	float:right;
	height:24px;
	width:24px;
	margin:2px;
	background:url("http://i48.servimg.com/u/f48/17/38/25/48/weathe10.png");
}
#clock #clock_weather img {
	height:24px;
	width:24px;
}
#clock #clock_title {
	letter-spacing:1px;
}
#clock #clock_date {
	letter-spacing:1px;
}
#clock #clock_extra {
	display:none;
}
#clock.toggle #clock_extra {
	display:block;
}
/* Calender------------------------------------*/
#eventscalendar td {
	color:#444444;
	text-align:center;
	width:30px;
	font-size:16px;
	padding:0;
	margin:0;
}
#eventscalendar a {
	display:block;
	width:100%;
	height:100%;
}
.dayWithEvent {
	color:#CCCCCC;
}
.dayToday {
	background:#333;
}
#events {
	list-style:none;
}
#events li {
	display:block;
	height:40px;
}
#events li a {
	display:block;
	width:100%;
	height:40px;
	padding:0;
	margin:0;
}
#events li a .date {
	float:left;
	height:26px;
	font-size:24px;
	width:30px;
	padding:6px 4px;
}
#events li a .description {
	text-transform:uppercase;
	height:14px;
	padding:13px;
}
.chosen_forum .realtime, .chosen_real .forumtime {
	display:none;
}
#button_forum, #button_real {
	padding:4px 7px;
	text-transform:uppercase;
}
.chosen_forum #button_forum, .chosen_real #button_real {
	background:#333333;
}
#weatherNow {
	background-image:url("http://i48.servimg.com/u/f48/17/38/25/48/weathe10.png");
	background-repeat:no-repeat;
}
#currentEvent_extrainfo a {
	text-decoration:underline;
}
#currentEvent_extrainfo {
	margin:32px 0 0 0;
	padding:5px 7px;
	color:#CCC;
	background:#222;
	font-size:12px;
	text-transform:uppercase;
}
#currentEvent_extrainfo li {
	padding:2px 0;
}
#help_bubble {
	position:absolute;
	padding:5px 2px 2px 2px;
	background:#FFF;
	border:none;
	color:#666;
	border-radius:0;
}
.disabled {
	display:none;
}
